USE [master]
GO
/****** Object:  Database [QLNHANVIEN]    Script Date: 11/6/2024 10:37:51 AM ******/
CREATE DATABASE [QLNHANVIEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNHANVIEN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLNHANVIEN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNHANVIEN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLNHANVIEN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNHANVIEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNHANVIEN]
GO
/****** Object:  Table [dbo].[ThongTinNhanVien]    Script Date: 11/6/2024 10:37:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinNhanVien](
	[MaNV] [nvarchar](20) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
	[TienLuong] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
